# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


*.tlog
*.obj
*.exe
*.ilk
*.pdb
*.log
*.opensdf
*.lastbuildstate
*.idb
*.sdf
*.suo
*.user
ProjectZ.xcodeproj/project.xcworkspace/xcshareddata/Project Z.xccheckout

ProjectZ.xcodeproj/project.xcworkspace/xcshareddata/Project Z.xccheckout

*.xcsettings

*.xcbkptlist

ProjectZ.xcodeproj/xcuserdata/hannesfeldt.xcuserdatad/xcschemes/xcschememanagement.plist
